.container{
     
  margin: 80px auto;
  width: 310px;
  padding: 30px;
}

.container input[type=text], .container input[type=password] {
  width: 232px;
  margin: 0 auto;
  padding: 0 10px;
  height: 34px;
  vertical-align:middle;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

img {
   vertical-align:middle;
}
