.wrapper{
     
  margin: 20% auto;
  width: 80%;
   
}

.container{
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.scdcol input[type=text], .scdcol input[type=password] {
  display: inline-block;    
  width: 100%;
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 4vw;
  padding: 2vw;
}


img {
    display: block;
    margin: 0 auto;
    width:9vw;
    height:9vw;  
}

.firstcol{
    display: inline-block;
    width: 15%;
    float: left;
}

.scdcol{
    margin: 0 auto;
    display: flex;
    width: 85%;
    height: 9vw;
    float: right;
}
